@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital@0;1&display=swap');

.top-section {
    margin: 10vw;
    display: flex;
    flex-direction: column;
}

.logo {
    bottom: 3vw;
    left: 5vw;
}

.sub-title {
    color: grey;
    font-size: 1.4rem;
    left: 1.9vw;
    bottom: -1vw;
    cursor: default;
}

.main-title {
    font-size: 3.5rem;
    font-family: 'Protest Strike', sans-serif;
    cursor: default;
}

.ad-container {
    left: 28.5vw;
    bottom: 7vw;
    width: 50vw;
    height: 8vw;
}

.advertisement {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 65%;
}

.adbtn {
    right: 5vw;
    top: 3vw;
    padding: 5px 3vw 5px 3vw;
    font-family: "Lora", serif;
}

