.news-item {
    width: 15vw;
}

.news-img {
    width: 15vw;
}

.news-title {
    font-size: 1.2vw;
}

.news-link {
    text-decoration: none;
    color: black;
}

.news-link:hover {
    color: #3d3d3d;
}