@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,600&display=swap');

.navbtn {
    display: flex;
    margin: 0 10vw -4vw 10vw;
    bottom: 12vw;
    font-family: "Playfair Display", serif;
}

.headNews {
    display: flex;
    position: relative;
    left: 10vw;
    bottom: 5vw;
    width: 79vw;
    height: 45vw;
    flex-direction: column;
}

.latest {
    cursor: default;
}

.recentNews {
    display: flex;
}

.firstNewsImg {
    position: relative;
    top: 2vw;
    width: 48vw;
    height: 25vw;
    margin: 0 6vw 3vw 0;
}

.firstNewsTitle {
    width: 48vw;
}

.firstNewsDesc {
    width: 48vw;
    cursor: default;
}

.secondNews {
    position: relative;
    top: 2vw;
}

.secondNewsImg {
    bottom: 7vw;
    left: 54vw;
    width: 25vw;
    height: 15vw;
    margin-bottom: 1vw;
}

.secondNewsTitle {
    font-size: 1.5rem;
    width: 25vw;
}

.secondNewsDesc {
    width: 25vw;
    cursor: default;
}

.line-break {
    position: relative;
    bottom: 10vw;
    left: 9.9vw;
    width: 79vw;
    height: 2px;
    background-color: black;
}

.bottomNews {
    display: flex;
    margin-right: 12.5vw;
}

.rowArt {
    width: 79vw;
}

.colArt {
    width: 290px;
    margin-bottom: 1vw;
}

.loadbtn {
    margin-left: 9vw;
    width: 79vw;
    font-family: "Playfair Display", serif;
    font-size: 20px;
}