@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,600&display=swap');

/*navBar*/
.navbtn {
    display: flex;
    margin: 0 10vw -6vw 10vw;
    bottom: 12vw;
    font-family: "Playfair Display", serif;
}

/*NewsSection*/
.headNews {
    margin: 0 10vw 3vw 10vw;
}

.recentNews {
    margin-bottom: 3vw;
}

.latest {
    cursor: default;
}

.firstNewsImg {
    width: 48vw;
    height: 25vw;
    margin: 3vw 6vw 1vw 0;
}

.firstNewsTitle {
    width: 49vw;
}

.firstNewsDesc {
    width: 49vw;
    cursor: default;
}

.secondNews {
    margin-top: 3vw;
}

.secondNewsImg {
    width: 25vw;
    height: 15vw;
    margin-bottom: 1vw;
}

.secondNewsTitle {
    font-size: 1.3vw;
    width: 25vw;
}

.secondNewsDesc {
    width: 25vw;
    cursor: default;
}

.line-break {
    margin: 3vw 0 5vw 10vw;
    width: 79vw;
    height: 2px;
    background-color: black;
}

.bottomNews {
    display: flex;
    flex-direction: column;
    margin: 0 10vw 2vw 10vw;
}

.feat-container {
    margin-bottom: 3vw;
    cursor: default;
}

.rowArt {
    column-gap: 2vw;
}

.colArt {
    width: 14vw;
    margin-bottom: 1vw;
}

.loadbtn {
    margin-left: 9vw;
    width: 79vw;
    font-family: "Playfair Display", serif;
    font-size: 1.2vw;
}